.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    background-color: var(--bg-pink);
    padding: 1rem 1.4rem;
}

.nav__item {
    display: flex;
    justify-content: center;
    margin: 0 1rem 1rem 0;
    align-items: center;
    padding: 0.4rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 0.4rem 0.4rem 0 black;
    width: fit-content;
    border: solid 0.4rem black;
    text-align: center;
    text-wrap: nowrap;
    background-color: white;
}

.nav__item-selected {
    background-color: var(--bg-pink);
    color: white;
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 1rem 1.4rem;
}

.schedule__nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem 1rem 0;
    align-items: center;
    padding: 0.4rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 0.4rem 0.4rem 0 black;
    width: 0.5rem;
    border: solid 0.4rem black;
    text-align: center;
    text-wrap: nowrap;
    line-height: 1;
}

.schedule__nav-item--active {
    background-color: var(--bg-yellow);
}

.schedule__nav--day-week {
    font-weight: bolder;
    font-size: 1.8rem;
}

.schedule__nav--date {
    font-weight: 500;
    font-size: 1.2rem;
}