


/* STYLE LOGO */

.presentation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-color: var(--bg-pink);
}

.presentation__logo_ball {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    background-color: white;
}

.presentation__logo_title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    z-index: 2;
    font-size: 5rem;
    text-shadow: -0.25rem 0.25rem var(--bg-dark-blue);
    font-style: italic;
    font-weight: 600;
    text-align: left;
}

.presentation__logo_rectangle {
    position: absolute;
    z-index: 1;
    width: 110%;
    height: 6rem;
    background-color: var(--bg-dark-blue); 
    rotate: -3deg;
    overflow: hidden;
}

#presentation_logo_title_semana {
    /* background-color: rgba(0, 128, 0, 0.233); */
    font-size: 5.5rem;
    color: var(--bg-yellow);
}

#presentation_logo_title_dacomp {
    display: flex;
    /* background-color: rgba(128, 0, 128, 0.404); */
    font-size: 3rem;
    color: var(--bg-orange);
}

#presentation_logo_title_edition {
    font-size: 3rem;
    /* background-color: rgba(0, 0, 255, 0.349); */
    color: var(--bg-pink);
}

/* STYLE EVENT */

.presentation__eventinfos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-pink);
}

.presentation__eventinfos_date{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--bg-dark-blue);
}

.presentation__eventinfos_location {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

#presentation__eventinfos_local_adress {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}

/* STYLE SOCIAL MEDIA */

.presentation__socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: var(--bg-pink);

    > p {
        font-size: 2rem;
        font-weight: 500;
        color: var(--bg-dark-blue);
    }
}