.border__shadow {
    box-shadow: 0.4rem 0.4rem 0 black;
    border: solid 0.4rem black;
}

.semana {
    width: 100vw;
}

.button {
    display: flex;
    justify-content: center;
    margin: 0 1rem 1rem 0;
    align-items: center;
    padding: 0.4rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 0.4rem 0.4rem 0 black;
    width: fit-content;
    border: solid 0.4rem black;
    text-align: center;
    white-space: nowrap;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--bg-pink);
    padding: 1rem 1.4rem;
    overflow-x: scroll;
}

.nav__item {
    background-color: white;
    white-space: nowrap;
}


.nav__item-selected {
    background-color: var(--bg-pink);
    color: white;
}

.presentation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 8rem 0;
    background-color: var(--bg-pink);
    /* border: 1px solid var(--bg-dark-blue); */
}

.presentation__logo_ball {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    width: 28.8rem;
    height: 28.8rem;
    background-color: white;
}

.presentation__logo_rectangle {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 18rem;
    background-color: var(--bg-dark-blue);
    clip-path: polygon(100% 0, 100% 67%, 0 100%, 0 39%);
    overflow: hidden;
}

.presentation__logo_title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    z-index: 2;
    text-shadow: -0.26rem 0.26rem var(--bg-dark-blue);
    font-style: italic;
    font-weight: 700;
    text-align: left;
    /* border: 1px solid var(--bg-dark-blue); */
}

#presentation_logo_title_semana {
    /* background-color: rgba(0, 128, 0, 0.233); */
    font-size: 11rem;
    color: var(--bg-yellow);
    line-height: 0.5;
}

#presentation_logo_title_dacomp {
    /* background-color: rgba(128, 0, 128, 0.404); */
    font-size: 7rem;
    color: var(--bg-orange);
    line-height: 1.2;
}

#presentation_logo_title_edition {
    /* background-color: rgba(0, 0, 255, 0.349); */
    font-size: 6rem;
    color: var(--bg-pink);
    position: relative;
    top: -0.5rem;
    right: 0.6rem;
}

.presentation__eventinfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    height: 12rem;
    background-color: var(--bg-pink);
}

.presentation__eventinfos_date{
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    color: var(--bg-dark-blue);
    /* background-color: bisque; */
}

.presentation__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 5.2rem;
}

#presentation__eventinfos_calendaricon {
    color: var(--bg-dark-blue);
}

#presentation__eventinfos_datenumber {
    margin-left: 0.5rem;
}

.presentation__eventinfos_location {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    /* background-color: plum; */
}

.presentation__eventinfos_text {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 3rem;

    > span {
        margin-left: 0.5rem;
        /*border: 1px solid var(--bg-dark-blue); */
        line-height: 1;

    }
}

#presentation__eventinfos_locationicon {
    color: white;
    /* background-color: pink; */
}

#presentation__eventinfos_local_adress {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}


/* STYLE SOCIAL MEDIA */

.presentation__socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 9.3rem;
    background-color: var(--bg-pink);
    align-items: center;

    > p {
        padding-top: 1.25rem;
        /*padding-bottom: 0.6rem;*/
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        color: var(--bg-dark-blue);
        /* background-color: brown; */
    }
}

.presentation__socialmedia_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.6rem;
    width: 12.5rem;
    /* background-color: pink; */

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: violet; */
        text-align: center;
        color: white;
    }

    > a > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-dark-blue);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
}

/*

NEW SCHEDULE
NEW SCHEDULE
NEW SCHEDULE

*/

#newschedule__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#newschedule__schedulebox {
    position: relative;
    color: black;
    display: flex;
    height: fit-content;
    border: 6px solid var(--bg-dark-blue);
    margin: 1.5rem; 
    align-self: center;
    width: 100%;
    max-width: 60rem;
    padding: 2rem; 
    
    > img {
        display: flex;
        align-self: center;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border: 3px solid var(--bg-dark-blue);
        box-shadow: 0.25rem 0.25rem black;
    }
}

#newschedule__fulltitle {
    position: relative;
    display: flex;
    flex-direction: column;
    > div {
        line-height: 2.5rem;
    }
}

#newschedule__title {
    display: flex;
    font-size: 2.5rem; 
    margin: 0rem 2rem;
    font-weight: 600; 
    padding-bottom: 0.4rem;
    max-width: 40rem;
}

#newschedule__lecturer{
    display: flex;
    font-size: 1.8rem; 
    line-height: 1.8rem !important;
    margin: 0rem 2rem;
    font-weight: 400; 
}

.newschedule__buttons {
    position: absolute;
    display: flex;
    height: 3rem;
    min-width: 10rem;
    width: fit-content;
    border: 0.125rem solid black;
    box-shadow: 0.25rem 0.25rem black;
    bottom: -1.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
    align-self: last baseline;
    padding: 0 0.5rem;
}

#newschedule__time {
    background-color: var(--bg-yellow);
    left: 48rem;
}

#newschedule__saibamais {
    background-color: var(--bg-pink);
    width: 11rem;
    left: 36rem; 
}

.schedule__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule__title {
    text-align: center;
    margin: 3.5rem 0 1rem 0;
    font-size: 1.8rem;
    color: var(--bg-dark-blue);
    font-weight: 500;
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.4rem;
    width: 50vw;
}

.schedule__nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem 1rem 0;
    align-items: center;
    padding: 0.4rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    box-shadow: 0.4rem 0.4rem 0 black;
    width: 0.5rem;
    border: solid 0.4rem black;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    transition: background 500ms;
}

.schedule__nav-item:hover {
    transition: background 500ms;
    background-color: var(--bg-yellow);
}

.schedule__nav-item:hover {
    cursor: pointer;
}

.schedule__nav-item--active {
    background-color: var(--bg-yellow);
}

.schedule__nav--day-week {
    font-weight: bolder;
    font-size: 1.8rem;
}

.schedule__nav--date {
    font-weight: 500;
    font-size: 1.2rem;
}

.schedule-details__container {
    margin: 0 0 5rem 0;
}

.patrocinadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-blue);
    padding-top: 5rem;
    padding-bottom: 10rem;
    height: fit-content;
    
    > p {
        color: white;
        text-align: center;
    }
}

.titles {
    font-size: 2.25rem;
    font-weight: 500;
}

#patrocinadores_title {
    margin-bottom: 0.5rem;
}

#patrocinadores_text {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0rem 1rem 2rem 1rem;
}

.patrocinadores_button {
    display: flex;
    background-color: var(--bg-yellow);
    height: 3.3rem;
    width: 14rem;
    align-items: center;
    justify-content: center;
    border: 0.25rem solid black;
    box-shadow: 0.25rem 0.25rem black;

    color: var(--bg-dark-blue);
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    &:hover {
        background-color: var(--bg-pink);
        cursor: pointer;
    }
}

.patrocinadores_patrocinadorbox {
    position: relative;
    display: flex;
    width: 8.75rem;
    height: 8.75rem;
    border: 0.25rem solid black;
    background-color: white;
    box-shadow: 0.25rem 0.25rem black;

}

.patrocinadores_patrocinadorname {
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    height: 2.5rem;
    margin-top: 0.3rem;
}

.patrocinadores_cota {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    > div {
        margin: 2.5rem 1.2rem 0rem 1.2rem;
    }
}


.patrocinadores_patrocinadorbox_label {
    position: relative;
    display: flex;
    height: 2rem;
    width: 4.8rem;
    border: 0.125rem solid black;
    box-shadow: 0.25rem 0.25rem black;
    top: -1rem;
    right: -0.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    z-index: 1000;
}

.patrocinadores_patrocinadorbox_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    max-width: 7.2rem;
    max-height: 7.2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 3rem 0;
}

.about__img--members {
    width: 50vw;
    border: solid 0.25rem black;
    box-shadow: 0.25rem 0.25rem black;
}

.about__text-container {
    width: 50vw;
    margin: 1.5rem 0 3rem 0;
}

.about__text {
    font-size: 1.8rem;
    text-indent: 1.5rem;
    text-align: justify;
}

.como-chegar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.como-chegar__map {
    width: 50vw;
    border: solid 0.25rem black;
    box-shadow: 0.25rem 0.25rem black;
    height: 40vh;
}

.symcomp-signature__logo {
    width: 5rem;
    margin: 0 0.5rem 0 0;
}

.symcomp-signature__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.symcomp-signature__title {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--bg-pink);
    line-height: 2.5rem;
}

.symcomp-signature__subtitle {
    font-size: 1.5rem;
    color: white;
}

.oferecimento__container {
    background-color: #1B1B1B;
    padding: 4rem 0;
}

.oferecimento__title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 0 4rem 0;
}

@media (min-width: 800px) and (max-width: 1350px) {
    .nav {
        justify-content: space-between;
        overflow-x: scroll;
    }

    .schedule {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 1rem 1.4rem;
        width: 100vw;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    #newschedule__lecturer{
        margin-bottom: 1rem;
    }

    
    #newschedule__time {
        background-color: var(--bg-yellow);
        left: 55%;
    }
    
    #newschedule__saibamais {
        background-color: var(--bg-pink);
        width: 11rem;
        left: 28%; 
    }
}

@media (max-width: 800px) {
    .nav__item {
        display: flex;
        justify-content: center;
        margin: 0 1rem 1rem 0;
        align-items: center;
        padding: 0.4rem 3rem;
        font-size: 1.8rem;
        font-weight: 700;
        box-shadow: 0.4rem 0.4rem 0 black;
        width: fit-content;
        border: solid 0.4rem black;
        text-align: center;
    }
    
    .nav__item-selected {
        background-color: var(--bg-pink);
        color: white;
    }

    /*

    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE
    NEW SCHEDULE

    */

    #newschedule__container {
        width: 100%;
    }
    
    #newschedule__schedulebox {
        margin: 1.5rem; 
        padding: 1.5rem 0.5rem 3rem 0.5rem; 
        flex-direction: column;
        
        > img {
            padding: 0.2rem;
            margin-bottom: 2rem;
        }
    }

    #newschedule__fulltitle {
        > div {
            line-height: 2rem;
        }
    }
    #newschedule__lecturer {
        padding-bottom: 0.5rem;
        font-size: 1.8rem !important;
    }

    #newschedule__title {
        padding-bottom: 0.5rem;
        font-size: 2rem;
        line-height: 2rem;
    }

    .newschedule__buttons {
        min-width: 8rem;
    }

    #newschedule__time {
        left: 12rem;
    }
    #newschedule__saibamais {
        left: 1rem; 
        width: 10rem;
        background-color: var(--bg-pink);

        > p {
            padding-right: 4px;
        }
    }

    .schedule {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: scroll;
        padding: 1rem 1.4rem;
        width: 100vw;
    }
    
    .schedule__nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem 1rem 0;
        align-items: center;
        padding: 0.4rem 2.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        box-shadow: 0.4rem 0.4rem 0 black;
        width: 0.5rem;
        border: solid 0.4rem black;
        text-align: center;
        white-space: nowrap;
        line-height: 1;
    }
    
    .schedule__nav-item--active {
        background-color: var(--bg-yellow);
    }
    
    .schedule__nav--day-week {
        font-weight: bolder;
        font-size: 1.8rem;
    }
    
    .schedule__nav--date {
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .schedule-details__container {
        margin: 0 0 5rem 0;
    }
    
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: var(--bg-pink);
        height: calc(100vh - 7rem);
        min-height: 700px;
        width: 100vw;
    }
    
    /* STYLE LOGO */
    
    .presentation__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 21.3rem;
        background-color: var(--bg-pink);
    }
    
    .presentation__logo_ball {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: 14.4rem;
        height: 14.4rem;
        background-color: white;
    }
    
    .presentation__logo_rectangle {
        position: absolute;
        z-index: 1;
        height: 6.5rem;
        background-color: var(--bg-dark-blue);

        width: 100vw;
        background-color: var(--bg-dark-blue);
        clip-path: polygon(100% 0, 100% 67%, 0 100%, 0 39%);
    }
    
    .presentation__logo_title {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        z-index: 2;
        text-shadow: -0.26rem 0.26rem var(--bg-dark-blue);
        font-style: italic;
        font-weight: 700;
        text-align: left;
    }
    
    #presentation_logo_title_semana {
        font-size: 5.5rem;
        color: var(--bg-yellow);
        line-height: 0.5;
    }
    
    #presentation_logo_title_dacomp {
        font-size: 3.5rem;
        color: var(--bg-orange);
        line-height: 1.2;
    }
    
    #presentation_logo_title_edition {
        font-size: 3rem;
        color: var(--bg-pink);
        position: relative;
        top: -0.5rem;
        right: 0.6rem;
    }
    
    /* STYLE EVENT INFOS */
    
    .presentation__eventinfos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 200px;
        height: 7.3rem;
        /* background-color: var(--bg-pink); */
    }
    
    .presentation__eventinfos_date{
        position: relative;
        display: flex;
        text-align: left;
        align-items: center;
        height: 3.3rem;
        font-size: 2.8rem;
        font-weight: 800;
        color: var(--bg-dark-blue);
        /* background-color: bisque; */
    }
    
    .presentation__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 2.6rem;
    }
    
    #presentation__eventinfos_calendaricon {
        color: var(--bg-dark-blue);
    }
    
    #presentation__eventinfos_datenumber {
        margin-left: 0.5rem;
    }
    
    .presentation__eventinfos_location {
        display: flex;
        align-items: center;
        height: 4rem;
        text-align: left;
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
        /* background-color: plum; */
    }
    
    .presentation__eventinfos_text {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        font-size: 2rem;
    
        > span {
            margin-left: 0.5rem;
            /*border: 1px solid var(--bg-dark-blue); */
            line-height: 1;
    
        }
    }
    
    #presentation__eventinfos_locationicon {
        color: white;
        /* background-color: pink; */
    }
    
    #presentation__eventinfos_local_adress {
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }
    
    
    /* STYLE SOCIAL MEDIA */
    
    .presentation__socialmedia {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 9.3rem;
        background-color: var(--bg-pink);
        align-items: center;
        margin-top: 5rem;
    
        > p {
            padding-top: 1.25rem;
            /*padding-bottom: 0.6rem;*/
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            color: var(--bg-dark-blue);
            /* background-color: brown; */
        }
    }
    
    .presentation__socialmedia_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5.6rem;
        width: 12.5rem;
        /* background-color: pink; */
    
        > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* background-color: violet; */
            text-align: center;
            color: white;
        }
    
        > a > div {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--bg-dark-blue);
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
        }
    }

    
    
    /* ---------------------- */
    
    /* STYLE PATROCINADORES */
    /* Não precisa de atualizações */

    
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about__img--members {
        width: 80%;
        border: solid 0.25rem black;
        box-shadow: 0.25rem 0.25rem black;
    }
    
    .about__text-container {
        width: 80%;
        margin: 1.5rem 0 3rem 0;
    }
    
    .about__text {
        font-size: 1.2rem;
        text-indent: 1.5rem;
        text-align: justify;
    }
    
    .como-chegar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .como-chegar__map {
        width: 80%;
        border: solid 0.25rem black;
        box-shadow: 0.25rem 0.25rem black;
        height: 40vh;
    }
    
    .symcomp-signature__logo {
        width: 5rem;
        margin: 0 0.5rem 0 0;
    }
    
    .symcomp-signature__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .symcomp-signature__title {
        font-size: 3rem;
        font-weight: bolder;
        color: var(--bg-pink);
        line-height: 2.5rem;
    }
    
    .symcomp-signature__subtitle {
        font-size: 1.5rem;
        color: white;
    }
    
    .oferecimento__container {
        background-color: #1B1B1B;
        padding: 4rem 0;
    }
    
    .oferecimento__title {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-align: center;
        margin: 0 0 4rem 0;
    }
}