@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg-pink {
  background-color: #FF006E;
}

.button-shadow {
  box-shadow: 0.1rem 0.2rem black;
}